HELP.md
#target/
# Ignorar TODA la carpeta target (donde están los .class y el .jar)
target/
**/target/

# Ignorar archivos compilados sueltos
*.class

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### IGNORA CONECTION FILE ###
src/main/resources/application.properties

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
